.main{
    padding: 20px;
    gap: 10px;
}

.left{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    height: max-content;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.right>button{
    margin: 10px;
}

.boxtable{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}